---
import Layout from "../layouts/Layout.astro";
import LinkButton from "../components/LinkButton.astro";
---

<Layout title="Not Found">
    <div class="flex flex-col items-center justify-center h-screen gap-2">
        <h1 class="font-bold text-9xl"> 404 </h1>
        <p class="text-xl m-0 text-center mb-4"> Esta página no existe, comprueba la url </p>
        <LinkButton label="Ir al inicio" href="/" />
    </div>
</Layout>
