---
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";
import Header from "../components/Header.astro";
---

<Layout title="Inicio">
    <Header />
    <Container>
        <section id="about" class="hidden">
            <h1> Sobre mí </h1>

        </section>
        <section id="projects" class="hidden">
            <h1> Proyectos </h1>

        </section>
        <section id="contact" class="hidden">
            <h1> Contacto </h1>

        </section>
    </Container>
    <footer class="bg-primary h-1/5 w-full text-background hidden">
        HOLA
    </footer>
</Layout>