---
import type { MenuItem } from "../types";
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import Container from "../components/Container.astro";
import Navbar from "../components/Navbar.astro";

const menuItems: MenuItem[] = [
    {
        name: "Sobre mí",
        path: "#about",
    },
    {
        name: "Proyectos",
        path: "#projects",
    },
    {
        name: "Contacto",
        path: "#contact",
    },
]
---

<Layout title="Inicio">
    <header>
        <Container>
            <div class="py-8 flex flex-row items-center justify-between">
                <Button label="Descargar CV" />
                <Navbar menuItems={menuItems} />
            </div>
        </Container>

    </header>
</Layout>