---
import type { MenuItem } from "../types";
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import Container from "../components/Container.astro";
import Navbar from "../components/Navbar.astro";
import Github from "../components/icons/Github.astro";
import Linkedin from "../components/icons/Linkedin.astro";

const menuItems: MenuItem[] = [
    {
        name: "Sobre mí",
        path: "#about",
    },
    {
        name: "Proyectos",
        path: "#projects",
    },
    {
        name: "Contacto",
        path: "#contact",
    },
]

const email: string = "francisco.cstllhrnndz@gmail.com"
const linkedin: string = "https://www.linkedin.com/in/francisco-castillo-hern%C3%A1ndez-417a692a2"
const github: string = "https://github.com/panxoyk"
---

<Layout title="Inicio">
    <header>
        <Container>
            <div class="py-8 flex flex-row items-center justify-between">
                <Button label="Visualizar CV" />
                <Navbar menuItems={menuItems} />
            </div>
            <div class=" mt-40 flex flex-row items-center justify-start gap-4">
                <div class=" group:">
                    <button
                    id="email-button"
                    class="h-8 border rounded-full px-4 py-1 border-black text-black hover:scale-105 transition duration-300 ease-in"
                    title="Copy email"
                    >
                        {email}
                    </button>
                </div>
                <a href={linkedin} title="Linkedin">
                    <Linkedin class="size-8 fill-[#0A66C2] hover:scale-105 transition duration-300 ease-in" />
                </a>
                <a href={github} title="Github">
                    <Github class="size-8 fill-black hover:scale-105 transition duration-300 ease-in" />
                </a>
            </div>
            <h1 class="mt-4 text-7xl font-extrabold text-primary"> Francisco Castillo Hernández </h1>
        </Container>
    </header>
</Layout>
<script>
    const emailButton = document.querySelector("#email-button")
    emailButton?.addEventListener("click", () => {
        const email = emailButton.textContent
        navigator.clipboard.writeText(email!!)
    })
    console.log(emailButton?.textContent)
</script>