---
// COMPONENTS
import MapPinIcon from "@components/icons/MapPinIcon.astro";
import Container from "@components/Container.astro";
import ProfileImage from "@components/images/ProfileImage.astro";
---

<section id="about" class="pt-24 pb-8">
    <Container>
        <div class="flex flex-col sm:grid sm:grid-cols-5 gap-8">
            <picture
                class="col-span-2 flex flex-row items-center justify-start w-full"
            >
                <ProfileImage />
            </picture>
            <div
                class="flex flex-col items-center justify-center gap-4 col-span-3"
            >
                <p
                    class="flex flex-row items-center justify-start gap-1 font-semibold md:text-lg w-full text-nowrap"
                >
                    <MapPinIcon class="size-6 fill-accent" /> Santiago, Chile
                </p>
                <p
                    class="text-left text-primary text-balance text-base lg:text-lg"
                >
                    Hola, soy Francisco Castillo Hernández y me apasiona el
                    desarrollo web. Actualmente estudio <span
                        class="font-semibold">Ingeniería Civil Telemática</span
                    >
                    en la Universidad Técnica Federico Santa María. En mi tiempo
                    libre, me dedico a
                    <span class="text-accent font-semibold"
                        >desarrollar aplicaciones web</span
                    >
                    usando TypeScript, React y Node.js.
                </p>
            </div>
        </div>
    </Container>
</section>
