---
// COMPONENTS
import Container from "./Container.astro";
import MailIcon from "./icons/MailIcon.astro";

// REACT COMPONENTS
import ContactForm from "./shared/ContactForm";

// DATA
import { email } from "../data/socials";
---

<section id="contact" class="pt-36 pb-8">
    <Container>
        <div>
            <ContactForm client:only="react" />
        </div>
        <div>
            <p
                id="send-email"
                class="gap-2 flex flex-row items-center mx-auto md:mx-0 font-semibold text-sm md:text-base py-2 text-black
                opacity-50 text-pretty se:text-nowrap hover:opacity-100 hover:text-accent transition ease-in duration-300 cursor-pointer w-fit"
            >
                <MailIcon class="size-6" /> {email}
            </p>
        </div>
    </Container>
</section>