---
// COMPONENTS
import Container from "@components/Container.astro";

// DATA
import { repository } from "@data/socials";
---

<footer class="bg-white rounded-lg w-full border-t">
    <Container>
        <div
            class="py-4 lg:py-8 w-full text-primary text-sm flex flex-col lg:flex-row justify-between items-start gap-8 lg:items-center"
        >
            <div class="flex flex-col items-start gap-1">
                <p class="text-base font-semibold text-secondary">
                    Francisco Castillo
                </p>
                <p>Desarrollador web full-stack</p>
                <div>
                    <a
                        class="text-primary font-semibold transition duration-300 hover:text-secondary cursor-pointer"
                        href="CV.pdf"
                    >
                        Descargar CV
                    </a>
                    <span>|</span>
                    <span
                        id="send-email-footer"
                        class="text-primary font-semibold transition duration-300 hover:text-secondary cursor-pointer"
                    >
                        Enviar correo electrónico
                    </span>
                </div>
            </div>
            <div class="flex flex-col items-start lg:items-end gap-1">
                <p>
                    Construido en Astro, <a
                        class="font-semibold text-primary transition duration-300 hover:text-accent cursor-pointer"
                        aria-label="Ver código fuente"
                        href={repository}
                    >
                        código fuente
                    </a>
                </p>
                <p>Actualizado el 2025</p>
            </div>
        </div>
    </Container>
</footer>
