---
import Container from "./Container.astro";
import LinkButton from "./LinkButton.astro";
import NavBar from "./NavBar.astro";

import Mail from "./icons/Mail.astro";
---

<header id="home">
    <NavBar />
    <Container>
        <div class="mt-48 py-8">
            <p
                id="send-email"
                class="gap-2 flex flex-row items-center mx-auto md:mx-0 font-semibold text-sm md:text-base py-2 text-black
                opacity-50 text-pretty se:text-nowrap hover:opacity-100 transition ease-in duration-300 cursor-pointer w-fit hover:text-accent"
            >
                <Mail class="size-6 " /> francisco.cstllhrnndz@gmail.com
            </p>
            <h1
                class="py-4 text-4xl se:text-5xl sm:text-7xl lg:text-8xl font-extrabold text-primary text-center md:text-left text-balance"
            >
                Desarrollador web full-stack
            </h1>
            <div
                class="flex flex-col md:flex-row justify-center md:justify-start items-center my-4 gap-8"
            >
                <LinkButton label="Descargar CV" href="cv_2024_FranciscoCastillo.pdf" />
            </div>
        </div>
    </Container>
</header>

<script>
    import { email } from "../data";

    const emailButton = document.getElementById("send-email");

    const sendEmail = () => {
        window.location.href = `mailto:${email}`;
    };

    emailButton?.addEventListener("click", sendEmail);
</script>
