---
// COMPONENTS
import Container from "@components/Container.astro";
import LinkButton from "@components/LinkButton.astro";
import NavBar from "@components/NavBar.astro";
import MailIcon from "@components/icons/MailIcon.astro";

// DATA
import { email } from "@data/socials";
---

<header>
    <NavBar />
    <Container>
        <section id="home" class="pt-48 pb-8">
            <p
                id="send-email"
                class="gap-2 flex flex-row items-center mx-0 font-semibold text-sm md:text-base py-2 text-black
                opacity-50 text-pretty se:text-nowrap hover:opacity-100 hover:text-accent transition ease-in duration-300 cursor-pointer w-fit"
            >
                <MailIcon class="size-6" />
                {email}
            </p>
            <h1
                class="py-4 text-4xl se:text-5xl sm:text-7xl lg:text-8xl font-extrabold text-primary text-left text-balance"
            >
                Desarrollador web full-stack
            </h1>
            <div class="flex justify-start my-4">
                <LinkButton label="Descargar CV" href="CV.pdf" />
            </div>
        </section>
    </Container>
</header>

<script>
    import { email } from "../data/socials";

    const emailButton = document.getElementById("send-email");
    const emailFooter = document.getElementById("send-email-footer");

    const sendEmail = (): void => {
        window.location.href = `mailto:${email}`;
    };

    emailButton?.addEventListener("click", sendEmail);
    emailFooter?.addEventListener("click", sendEmail);
</script>
