---
type Props = {
    label: string;
    href?: string;
};

const { label, href } = Astro.props;
---

<a
    href={href}
    class="w-full se:w-fit px-6 py-3 font-semibold text-center text-white bg-accent relative z-10 text-lg
    border border-black rounded-lg hover:brightness-125 transition ease-in duration-300 cursor-pointer"
>
    {label}
</a>
