---
type Props = {
    label: string;
    href?: string;
};

const { href, label } = Astro.props;
---

<a
    href={href}
    class="hover:scale-125 transition duration-300 ease-in z-20"
    aria-label={label}
>
    <slot />
</a>
