---
// COMPONENTS
import Container from "@components/Container.astro";
import ProjectPreview from "@components/ProjectPreview.astro";

// DATA
import { projects } from "@data/projects";
---

<section id="projects" class="py-24">
    <Container>
        <div class="flex flex-col gap-8">
            <h2 class="ml-8 py-4 text-4xl lg:text-5xl font-extrabold text-primary">
                Proyectos.
            </h2>
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 w-full overflow-hidden">
                {
                    projects.map((project) => (
                        <ProjectPreview project={project} />
                    ))
                }
            </div>
        </div>
    </Container>
</section>
