---
import "src/globals.css";
import { baseUrl } from "src/config";

type Props = {
    title: string;
};

const { title } = Astro.props;
---

<html lang="es" class="scroll-smooth">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&display=swap"
            rel="stylesheet"
        />
        <link rel="icon" href=`${baseUrl}/favicon.ico` type="image/x-icon" />
    </head>
    <body id="body">
        <slot />
    </body>
</html>
